In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential

In [2]:
# Load the data
df = pd.read_csv("train.csv")

In [3]:
# Preprocess the data
df = df.drop(["Name", "Ticket", "Cabin"], axis=1)
df["Age"].fillna(df["Age"].mean(), inplace=True)
df["Embarked"].fillna(df["Embarked"].mode()[0], inplace=True)
df = pd.get_dummies(df, columns=["Pclass","Embarked","Sex"], drop_first=True)
df

,PassengerId,Survived,Age,SibSp,Parch,Fare,Pclass_2,Pclass_3,Embarked_Q,Embarked_S,Sex_male
0,1,0,22.000000,1,0,7.2500,0,1,0,1,1
1,2,1,38.000000,1,0,71.2833,0,0,0,0,0
2,3,1,26.000000,0,0,7.9250,0,1,0,1,0
3,4,1,35.000000,1,0,53.1000,0,0,0,1,0
4,5,0,35.000000,0,0,8.0500,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,27.000000,0,0,13.0000,1,0,0,1,1
887,888,1,19.000000,0,0,30.0000,0,0,0,1,0
888,889,0,29.699118,1,2,23.4500,0,1,0,1,0
889,890,1,26.000000,0,0,30.0000,0,0,0,0,1
890,891,0,32.000000,0,0,7.7500,0,1,1,0,1

In [4]:
# Scale the data
scaler = StandardScaler()
scaled_data = scaler.fit_transform(df.drop("Survived", axis=1))

In [5]:
# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(scaled_data, df["Survived"], test_size=0.2, shuffle=True, random_state=10)

In [6]:
# Create the model
model = tf.keras.Sequential()
model.add(layers.Reshape((X_train.shape[1], 1), input_shape=(X_train.shape[1],)))
model.add(layers.Conv1D(32, 3, activation='relu'))
model.add(layers.MaxPool1D(2))
model.add(layers.Conv1D(64, 3, activation='relu'))
model.add(layers.MaxPool1D(2))
model.add(layers.Flatten())
model.add(layers.Dense(64, activation='relu'))
model.add(layers.Dense(1, activation='sigmoid'))

2023-01-20 19:18:32.575598: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

AttributeError: module 'tensorflow' has no attribute 'layers'

In [ ]:
# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [ ]:
# Train the model
model.fit(X_train, y_train, epochs=10, validation_data=(X_test, y_test))

In [ ]:
score = model.evaluate(X_test, y_test, verbose=0)

In [ ]:
accuracy = score[1]
print("Test accuracy:", accuracy)