In [23]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.preprocessing import (
    MinMaxScaler, 
    RobustScaler,
    StandardScaler,
    OneHotEncoder,
    KBinsDiscretizer
)

In [24]:
# Load the Titanic dataset from Kaggle
df = pd.read_csv('train.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [25]:
df = pd.read_csv('train.csv')
y = df['Survived']
X = df.drop('Survived', axis=1)
X.drop(['Cabin','Name','Ticket','PassengerId'],axis=1,inplace=True)
X.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  22.0      1      0   7.2500        S
1       1  female  38.0      1      0  71.2833        C
2       3  female  26.0      0      0   7.9250        S
3       1  female  35.0      1      0  53.1000        S
4       3    male  35.0      0      0   8.0500        S

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25, random_state=15)

In [27]:
from sklearn.impute import SimpleImputer
X_train.isna().sum()

Pclass        0
Sex           0
Age         149
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [28]:
imputer = SimpleImputer(strategy='median')
X_train['Age'] = imputer.fit_transform(X_train[['Age']])
X_test['Age'] = imputer.transform(X_test[['Age']])
X_train.isna().sum()

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    2
dtype: int64

In [29]:
imputer = SimpleImputer(strategy='most_frequent')
X_train['Embarked'] = imputer.fit_transform(X_train[['Embarked']])
X_test['Embarked'] = imputer.transform(X_test[['Embarked']])
X_train.isna().sum()

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [30]:
scaler = MinMaxScaler()
X_train['Age'] = scaler.fit_transform(X_train[['Age']]) 
X_test['Age'] = scaler.transform(X_test[['Age']])

In [31]:
X_train['Fare'] = scaler.fit_transform(X_train[['Fare']]) 
X_test['Fare'] = scaler.transform(X_test[['Fare']])

In [32]:
ohe = OneHotEncoder(handle_unknown='ignore', drop='first')

In [33]:
X_train['Sex'] = ohe.fit_transform(X_train[['Sex']]).todense()
X_test['Sex'] = ohe.transform(X_test[['Sex']]).todense()

In [34]:
X_train['Embarked'] = ohe.fit_transform(X_train[['Embarked']]).todense()
X_test['Embarked'] = ohe.transform(X_test[['Embarked']]).todense()

In [13]:
# Build the model
model = Sequential()
model.add(Dense(32, activation="relu", input_shape=(X_train.shape[1],)))
model.add(Dense(16, activation="relu"))
model.add(Dense(1, activation="sigmoid"))
model.compile(optimizer="adam", loss="binary_crossentropy", metrics=["accuracy"])

In [14]:
# Train the model
model.fit(X_train, y_train, epochs=50, batch_size=32, validation_data=(X_test, y_test))

Epoch 1/50
23/23 [==============================] - 0s 7ms/step - loss: 0.6414 - accuracy: 0.6559 - val_loss: 0.6104 - val_accuracy: 0.7542
Epoch 2/50
23/23 [==============================] - 0s 2ms/step - loss: 0.5735 - accuracy: 0.7823 - val_loss: 0.5488 - val_accuracy: 0.7821
Epoch 3/50
23/23 [==============================] - 0s 2ms/step - loss: 0.5137 - accuracy: 0.7809 - val_loss: 0.4966 - val_accuracy: 0.7709
Epoch 4/50
23/23 [==============================] - 0s 2ms/step - loss: 0.4720 - accuracy: 0.7907 - val_loss: 0.4626 - val_accuracy: 0.7542
Epoch 5/50
23/23 [==============================] - 0s 2ms/step - loss: 0.4462 - accuracy: 0.8104 - val_loss: 0.4404 - val_accuracy: 0.7933
Epoch 6/50
23/23 [==============================] - 0s 2ms/step - loss: 0.4307 - accuracy: 0.8118 - val_loss: 0.4302 - val_accuracy: 0.7933
Epoch 7/50
23/23 [==============================] - 0s 2ms/step - loss: 0.4207 - accuracy: 0.8146 - val_loss: 0.4222 - val_accuracy: 0.7989
Epoch 8/50
23/23 [==============================] - 0s 2ms/step - loss: 0.4139 - accuracy: 0.8160 - val_loss: 0.4168 - val_accuracy: 0.8156
Epoch 9/50
23/23 [==============================] - 0s 2ms/step - loss: 0.4078 - accuracy: 0.8188 - val_loss: 0.4146 - val_accuracy: 0.8268
Epoch 10/50
23/23 [==============================] - 0s 2ms/step - loss: 0.4032 - accuracy: 0.8160 - val_loss: 0.4140 - val_accuracy: 0.8268
Epoch 11/50
23/23 [==============================] - 0s 2ms/step - loss: 0.4008 - accuracy: 0.8258 - val_loss: 0.4109 - val_accuracy: 0.8380
Epoch 12/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3975 - accuracy: 0.8244 - val_loss: 0.4118 - val_accuracy: 0.8436
Epoch 13/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3945 - accuracy: 0.8329 - val_loss: 0.4107 - val_accuracy: 0.8380
Epoch 14/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3931 - accuracy: 0.8385 - val_loss: 0.4098 - val_accuracy: 0.8380
Epoch 15/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3913 - accuracy: 0.8329 - val_loss: 0.4112 - val_accuracy: 0.8324
Epoch 16/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3887 - accuracy: 0.8385 - val_loss: 0.4093 - val_accuracy: 0.8380
Epoch 17/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3888 - accuracy: 0.8357 - val_loss: 0.4129 - val_accuracy: 0.8380
Epoch 18/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3844 - accuracy: 0.8399 - val_loss: 0.4091 - val_accuracy: 0.8380
Epoch 19/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3841 - accuracy: 0.8385 - val_loss: 0.4103 - val_accuracy: 0.8380
Epoch 20/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3820 - accuracy: 0.8385 - val_loss: 0.4105 - val_accuracy: 0.8380
Epoch 21/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3811 - accuracy: 0.8371 - val_loss: 0.4108 - val_accuracy: 0.8436
Epoch 22/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3815 - accuracy: 0.8399 - val_loss: 0.4103 - val_accuracy: 0.8436
Epoch 23/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3781 - accuracy: 0.8441 - val_loss: 0.4121 - val_accuracy: 0.8324
Epoch 24/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3781 - accuracy: 0.8371 - val_loss: 0.4121 - val_accuracy: 0.8380
Epoch 25/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3768 - accuracy: 0.8427 - val_loss: 0.4134 - val_accuracy: 0.8492
Epoch 26/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3756 - accuracy: 0.8441 - val_loss: 0.4142 - val_accuracy: 0.8492
Epoch 27/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3747 - accuracy: 0.8441 - val_loss: 0.4142 - val_accuracy: 0.8436
Epoch 28/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3728 - accuracy: 0.8441 - val_loss: 0.4150 - val_accuracy: 0.8436
Epoch 29/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3723 - accuracy: 0.8455 - val_loss: 0.4194 - val_accuracy: 0.8324
Epoch 30/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3705 - accuracy: 0.8497 - val_loss: 0.4146 - val_accuracy: 0.8436
Epoch 31/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3703 - accuracy: 0.8441 - val_loss: 0.4189 - val_accuracy: 0.8436
Epoch 32/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3696 - accuracy: 0.8427 - val_loss: 0.4196 - val_accuracy: 0.8436
Epoch 33/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3677 - accuracy: 0.8497 - val_loss: 0.4150 - val_accuracy: 0.8436
Epoch 34/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3671 - accuracy: 0.8441 - val_loss: 0.4230 - val_accuracy: 0.8436
Epoch 35/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3671 - accuracy: 0.8455 - val_loss: 0.4190 - val_accuracy: 0.8380
Epoch 36/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3661 - accuracy: 0.8483 - val_loss: 0.4205 - val_accuracy: 0.8436
Epoch 37/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3641 - accuracy: 0.8441 - val_loss: 0.4210 - val_accuracy: 0.8324
Epoch 38/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3635 - accuracy: 0.8497 - val_loss: 0.4223 - val_accuracy: 0.8436
Epoch 39/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3657 - accuracy: 0.8483 - val_loss: 0.4235 - val_accuracy: 0.8436
Epoch 40/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3626 - accuracy: 0.8497 - val_loss: 0.4209 - val_accuracy: 0.8324
Epoch 41/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3627 - accuracy: 0.8497 - val_loss: 0.4274 - val_accuracy: 0.8268
Epoch 42/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3608 - accuracy: 0.8497 - val_loss: 0.4261 - val_accuracy: 0.8380
Epoch 43/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3605 - accuracy: 0.8511 - val_loss: 0.4269 - val_accuracy: 0.8380
Epoch 44/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3572 - accuracy: 0.8511 - val_loss: 0.4227 - val_accuracy: 0.8436
Epoch 45/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3575 - accuracy: 0.8497 - val_loss: 0.4243 - val_accuracy: 0.8324
Epoch 46/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3568 - accuracy: 0.8497 - val_loss: 0.4292 - val_accuracy: 0.8268
Epoch 47/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3562 - accuracy: 0.8525 - val_loss: 0.4312 - val_accuracy: 0.8380
Epoch 48/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3558 - accuracy: 0.8511 - val_loss: 0.4326 - val_accuracy: 0.8324
Epoch 49/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3537 - accuracy: 0.8497 - val_loss: 0.4286 - val_accuracy: 0.8324
Epoch 50/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3525 - accuracy: 0.8525 - val_loss: 0.4347 - val_accuracy: 0.8324

Epoch 1/10
21/21 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.6257
Epoch 2/10
21/21 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.6302
Epoch 3/10
21/21 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.6302
Epoch 4/10
21/21 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.6302
Epoch 5/10
21/21 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.6302
Epoch 6/10
21/21 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.6302
Epoch 7/10
21/21 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.6302
Epoch 8/10
21/21 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.6302
Epoch 9/10
21/21 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.6302
Epoch 10/10
21/21 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.6302

7/7 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.5740
Test accuracy: 0.573991060256958